
C:\Users\NV Experiment\PycharmProjects\b26_toolkit\src\instruments\config.txt
C:\Users\Experiment\PycharmProjects\b26_toolkit\src\instruments\config.txt
\src\gui\user_data

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
venv
dist
b26_toolkit.egg-info