scipy==1.0.0
ipywidgets==7.1.1
numpy==1.14.0
PIMS==0.4.1
pywin32==222
PyVISA==1.9.0
trackpy==0.4
pythonnet==2.3.0
scikit_image==0.13.1
pandas==0.22.0
matplotlib==2.1.2
ipython==6.3.1
Pillow==7.1.0
PyQt4==4.11.4
pyqt
System==v0.1
clr==1.0.3
joblib==0.11
peakutils==1.1.1
pyserial==3.4
skimage==0.0
pylabcontrol